---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="p-1">
    <div
      class="flex flex-row-reverse rounded border border-black bg-black text-white shadow"
    >
      <img
        src="/mobile-pfp.jpg"
        class="static h-[100px] w-[100px] rounded-sm grayscale lg:hidden"
      />
      <div class="py-1 pl-3">
        <h1 class="h-fit w-max text-2xl font-bold">Takshak Ramteke</h1>
        <p class="text-sm italic">
          <a class="text-slate-500">@TakshakRamteke</a>
        </p>
        <p class="text-sm italic">Freelance FullStack Dev & Designer</p>
      </div>
    </div>

    <p class="text-md mt-4 rounded border border-black p-2 text-justify">
      Hello There !, nice to see you
      <br />
      I'm a 21 year old fun loving, enthusiastic & passionate Developer and Designer
      who loves Open source & free software stuff (obviously, \_(-_-)_/ ), other
      than that I also like anime + manga + webtoons+ memes (cat/anime/linux)
      <br />
      I Currently work as a freelance fullstack developer and designer, professiant
      with tools like Next.js, TypeScript, prisma, etc. along with design tools like
      Figma, Inkscape & GIMP although Next.js (for dev) and Inkscape (for design)
      are my favourite ones
      <br />
      I am also currently pursuing my Bachelors in computer science and engineering
      (senior year),
      <br />
      Please feel free to look at my work or reach out to me any time
    </p>

    <div class="mt-4 rounded border border-black p-2">
      <h2 class="text-xl font-semibold uppercase">Tech & skill's</h2>
      <ul class="mt-4 flex flex-wrap justify-between px-1 text-sm">
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          Next.js
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          astro
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          React.js
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          Tailwind CSS
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          prisma
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          MySQL
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          mongodb
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          graphQl
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          contentful
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          Figma
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          GitHub
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          TypeScript
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          JavaScript
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          python
        </li>
        <li class="m-1 w-fit rounded-full border border-black p-1 px-2">
          golang
        </li>
      </ul>
    </div>
  </div>
</Layout>
