---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Takshak Ramteke">
    <div>
        <h1 class="text-2xl mb-4 font-semibold">Takshak Ramteke</h1>
        <p class="text-sm lg:text-lg font-mono">
            I Love creating meaningful, scalable & robust (software) solutions, through experience, collaboration and a respository of skills
        </p>
    </div>
</Layout>

