---
import Layout from "../../layouts/Layout.astro";
const allDesigns = await Astro.glob("./*.md");
---

<Layout title="Designs | Takshak Ramteke">
    <div class="mb-4 flex items-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            data-slot="icon"
            class="w-4 h-4"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
        </svg>
        <a href="/" class="no-underline text-gray-400 ml-1">Back</a>
    </div>
    <div class="mb-7">
        <h1 class="text-2xl font-semibold">Designs</h1>
    </div>
    <div class="mt-4 grid grid-cols-1 md:grid-cols-3 gap-3">
        {
            allDesigns.map((design) => (
                <div class="mb-2">
                    <a href={design.url}>
                        <p class="underline">{design.frontmatter.title}</p>
                    </a>
                    <p class="lowercase mt-1 text-gray-400 text-sm">
                        {design.frontmatter.excrept} ...
                    </p>
                </div>
            ))
        }
    </div>
</Layout>
