---
import Sidebar from "../components/Sidebar";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <style is:global>
      html {
        font-family: "IBM Plex Sans", sans-serif;
      }
    </style>
  </head>
  <body class="flex flex-col overflow-hidden bg-white lg:flex-row-reverse">
    <Sidebar title={title} client:load />
    <div class="ml-auto h-[96.3vh] w-full p-2 lg:h-screen lg:p-4">
      <div
        class="h-full w-full animate-moveup overflow-y-scroll rounded border border-black p-2 pb-[15%]"
      >
        <slot />
      </div>
    </div>
  </body>
</html>
